.career_main{
    margin: 0 2.5vw;
    /* background-color: black; */
}
.career_main p,.career_main li,.career_note{
    /* background-color: gainsboro; */
    font-size: 14px;
}
.career_table{
    text-align: center;
    margin: 3vw auto;
}
.career_ordered_list{
    width: 70%;
}
.career_top_paragraph{
    width: 70%;
}
.career_top_paragraph p,.career_note{
    /* padding: 1vw; */
    line-height: 3vw;
    /* background-color: lightsalmon; */
}
.career_ordered_list li{
    /* background-color: rebeccapurple; */
    padding: 1vw;
}
.career_heading{
    /* padding:1vw vw; */
    width: 20vw;
    text-align: center;
}


